<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Sales_DBEntities" connectionString="metadata=res://*/SalesModel.csdl|res://*/SalesModel.ssdl|res://*/SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P3AQF06;initial catalog=Sales_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>
